/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 10px;
}

body {
    background-color: #f4f4f4;
    color: #333;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
}

.no-js{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #FFF;
    font-size: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader {
    position: fixed;
    left: calc(50% - 120px);
    top: calc(50% - 50px);
    width: 240px;
    height: 100px;
    border: 1px solid #CCC;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    background-color: #FFF;
    background-image: url(images/loader.gif);
    background-repeat: no-repeat;
    background-position: center 10px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

#loader.hide {
    display: none;
}

#error {
    position: fixed;
    left: calc(50% - 120px);
    top: calc(50% - 50px);
    width: 240px;
    height: 100px;
    border: 1px solid #000;
    display: flex;
    align-items: flex-end;
    text-align: center;
    border-radius: 10px;
    background-color: #FFF;
    background-image: url(images/alert.png);
    background-size: 50px auto;
    background-repeat: no-repeat;
    background-position: center 10px;
    padding-bottom: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

#error.hide {
    display: none;
}

#error.show {
    display: flex;
}

header {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: auto 40px;
    background-position: 10px center;
    background-color: orange;
    color: #fff;
    padding: 15px 10px;
    text-align: right;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 10px;
    transition: background-color 0.2s;
    background-color: rgba(0,0,0,0.1);
}

nav a:hover {
    background-color: rgba(0,0,0,0.25);
}

main {
    padding: 10px;
}

#filter {
    background-color: #E5E5E5;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}

#places-list ul.cards, #places-list li.card {
    list-style: none;
    margin: 0;
    padding: 0;
}

#places-list li.card {
    min-width: 280px;
    padding: 10px 5px 5px 5px;
    margin: 0 5px;
    border: 1px solid #999;
    width: calc(24.9% - 20px);
    border-radius: 3px;
    background-color: #E5E5E5;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    position: relative;
}

#places-list li.card .title {
    font-weight: bold;
    font-size: 1.6rem;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#places-list li.card .price {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.6rem;
}

#places-list li.card .image {
    height: 180px;
    background-image: url(images/house.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;

}

#places-list li.card .desc {
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1.4rem;
    background-color: #CCC;
}

#places-list li.card .coords {
    text-align: right;
    font-size: 1rem;
    background-color: #CCC;
    padding: 3px;
}

#places-list li.card .amenities {
    position: absolute;
    bottom: 3px;
}

#places-list li.card .amenities > span {
    width: 14px;
    height: 14px;
    margin: 0 2px;
    /* background-color: #999; */
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#places-list li.card .amenities .wi-fi {
    background-image: url(images/icon_wifi.png);
}

#places-list li.card .amenities .toilet {
    background-image: url(images/icon_toilet.png);
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: orange;
    text-align: center;
    padding: 10px;
}